<script>
window.goatcounter = {
    no_onload: ('doNotTrack' in navigator && navigator.doNotTrack === '1') || ('globalPrivacyControl' in navigator && navigator.globalPrivacyControl === true),
};
</script>
<script data-goatcounter="https://stats.standingpad.org/count"
        async src="https://stats.standingpad.org/count.js"></script>
<meta name="darkreader-lock">

{{ if eq .Section "nsfw" }}
  <meta name="robots" content="noindex">
  {{ partialCached "nsfw-modal.html" . }}
{{ end }}

{{ if eq .Params.mature true }}
  {{ partialCached "nsfw-modal.html" . }}
{{ end }}

